*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/fondo1.jpg);
  background-size: cover;
}

img {
  object-fit: contain;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
}

.spinner-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgba(233, 54, 54, 0.75) transparent rgba(233, 54, 54, 0.75) transparent;
  animation: lds-hourglass 2.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.Navbar{
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  position: fixed;
  border-bottom: 2px solid rgb(187, 181, 181);
  z-index: 5000
}

.Navbar > a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.Navbar > div {
  display: flex;
}

.Navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 90px;
}

.Navbar ul a {  
  text-decoration: none;
}

.HomePrincipal {
  display: grid;
  place-content: center;
}

.HomePrincipal > div {
  padding: 18vh 18vh 0vh 18vh;
}

.HomePrincipal input {
  width: 600px;
  height: 40px;
}

.HomePrincipal button {
  width: 60px;
  height: 40px;
}

.Home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40vh 70vh 40vh 70vh;
  gap: 30px;
}

.Home a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  width: 230px;
  height: 300px;
  border: 4px solid rgba(255, 239, 147, 0.993);
  padding: 20px;
  text-decoration: none;
  outline: none;
  border-radius: 5%;
}

.Home a div {
  display: flex;
  justify-content: flex-start;
  padding: 10px ;
}

.Home a p {
  text-decoration: none;
  outline: none;
  padding: 10px;
  color: black;
}

.Home a p:first-child {
  color: red;
}

.Home a img {
  background: white;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.HomeButton {
  display: flex;
}

.HomeButton button{
  width: 30px;
  height: 30px;
}

.point {
  border: 4px solid red;
  border-radius: 100%;
}

.ProductMarked {
  font-size: 25px;
}

.two {
  font-size: 16px;
  position: absolute;
  left: 470px;
}

.ProductMarked div div {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  outline: none;
  list-style: none; 
}

.HomeButton {
  margin-top: 30px;
}

.HomeButton input {
  width: 80px;
  height: 30px;
}

.HomeButton button{
  background: red;
  width: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container img {
  border-bottom: 3px solid rgb(196, 190, 190);
  background: white;
}

.container-one {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  height: 450px;
}

.container-one div:first-child{
  width: 400px;
  height: 250px;
}

.container-two {
  margin: 30px;
  overflow: auto;
  width: 450px;
}

.container-data-two {
  height: 600px;
  width: 346px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-data-two li {
  border: 3px solid rgb(196, 190, 190);
  margin: 20px;
}

.container-data-two li a{
  list-style: none;
  outline: none;
  text-decoration: none;
  color: black;
}

.container-data-two li div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container-form {
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 20px;
  display: flex;
  padding: 50px;
  border: 3px solid transparent;
  border-radius: 10%;
  transition: all 0.3s;
}

.container-form:hover {
  border: 3px solid black;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 3px 10px 0px;
}

.container-form p {
  font-size: 30px;
  position: relative;
  bottom: 20px;
  left: 95px
}

#emailHelp {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.9)
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.form-control {
  height: 30px;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 10px;
}

#exampleCheck1 {
  margin: 10px 0px;
}

.btn-primary {
  width: 60px;
  height: 30px;
  position: relative;
  left: 110px;
  box-shadow: 3px 3px 10px 0px;
  border-radius: 15%;
  outline: none;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  padding: 0px 15px;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 350px;
  height: 500px;
  background: white;
  transition: all 0.3s;
  border-radius: 2%;
  z-index: 6000;
  box-shadow: 1px 1px 5px 2px;
}

#sidebar.toggle {
  right: -355px;
}

#sidebar div {
  border-bottom: 2px solid rgb(209, 199, 199);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

#sidebar ul li {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid green;
}

.purchases {
  padding: 20vh 70vh 40vh 20vh;
  list-style: none;
}

.purchases div {
  display: flex;
  justify-content: space-between;
}

.purchases strong {  
  font-size: 19px;
}

.purchases li {
  border: 3px solid rgb(156, 112, 112);
  margin: 20px 0px;
  background: rgba(255, 255, 255, 0.75);
}

.purchases li p{
  margin: 20px;
  font-size: 18px;
}

.purchases li>p{
  border-bottom: 3px solid rgb(156, 112, 112);
}

.model {
  color: rgba(56, 33, 156, 0.8);
  font-size: 17px;
}

.filter {
  background: white;
  position: fixed;
  width: 200px;
  height: 100vh;
  left: 0;
  top: 70px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter-price {
  position: absolute;
  left: 20px;
  top: 50px;
  display: flex;
}

.filter-price>div{
  position: absolute;
  left: 0px;
  top: 40px;
}

.filter-price input{
  width: 170px;
}

.filter-category {
  position: absolute;
  left: 20px;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
